create-study-set-container {
    background-color: #172a3a;
    border-radius: 30px;
    border: 5px solid #004346;
    color: #d8dcff;
    margin: auto;
    max-width: 800px;
    padding: 20px
  }
  
  .create-study-set-container h1{
    color: #508991;
  }
  
  .description-input,.title-input,.folder-input, .term-input, .definition-input {
    background-color: #508991;
    border-radius: 10px;
    border-color: #014b4f;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }
  
  .description-input::placeholder, .title-input::placeholder, .folder-input::placeholder,  .term-input::placeholder, .definition-input::placeholder  {
    color: #d8dcff; /* Placeholder text color */
    /* You can add other styles here if needed */
  }
  
  .description-input:focus, .title-input:focus, .folder-input:focus,  .term-input:focus, .definition-input:focus {
    border-color: #09bc8a; /* Changes the border color to white on focus */
    outline: none; /* Optional: removes the default focus outline */
    /* You can add more styles here to visually indicate focus, such as changing background color, adding a shadow, etc. */
  }
  
  .description-input {
    height: 100px; /* Adjust as needed */
  }
  
  .import-options button {
    background-color: #555;
    border: none;
    color: #d8dcff;
    margin-right: 10px;
    padding: 10px 15px
  }
  
  .term-definition-pair {
    background-color: #508991;
    border-color: #014b4f;
    border-radius: 10px;
    align-items: center;
    display: flex;
    margin: 10px 0
  }
  
  .number {
    margin-right: 10px;
    color: #d8dcff; /* Light grey for the number */
  }
  
  .definition-input,.term-input {
    background-color: #014b4f;
    border-color: #004346;
    color: #d8dcff;
    flex: 1 1;
    margin-right: 10px;
    padding: 10px
  }
  
  .image-placeholder {
    align-items: center;
    background-color: #014b4f;
    border-color: #004346;
    color: #d8dcff;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px
  }
  
  .create-button {
    background-color: #09bc8a;
    border-color: #004346;
    border-radius: 10px;
    color: #d8dcff;
    margin-top: 20px;
    padding: 10px 20px;
  }
  
  /* Apply global styles for buttons */
  button {
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  