.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
  }
  
  button.card.matched{
    text-align:center;
    align-items: center;
    background-color: #07461d;
    border: 9px solid #06bb4f;
    border-radius: 30px;
    color: #ffffff;
    padding: 10px;
}

button.card{
    text-align:center;
    align-items: center;
    background-color: #172a3a;
    border: 9px solid #004346;
    border-radius: 30px;
    color: #d8dcff;
    padding: 10px;
}
button.card.selected{
    text-align:center;
    align-items: center;
    background-color: #3a566e;
    border: 9px solid #358286;
    border-radius: 30px;
    color: #d8dcff;
    padding: 10px;
}

div.game-page h1{
    text-align: center;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: 20px;
}

div.game-page {
  display: flex;          /* Establishes a flex container */
  flex-direction: column; /* Stacks flex items from top to bottom */
  align-items: center;    /* Centers flex items on the cross axis (horizontal) */
  justify-content: center;/* Centers flex items on the main axis (vertical) */
}

div.card-grid{
    width: 90%;
    height: 600px;
}

.card {
  display: flex;          /* Use flexbox for layout */
  align-items: center;    /* Vertically center the content */
  justify-content: center;/* Horizontally center the content */
  height: 100%;          /* Fixed height for the cards */
  width: 100%;           /* Fixed width for the cards */
  margin: 10px;           /* Add margin to separate the cards */
  padding: 10px;          /* Add some padding inside the cards */
}

button.return-button{
    margin-top: 60px;
    height: 60px;
    width: 245px;
    border-radius:10px;
    border: 5px solid #004346;
}