.library-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.library-header > h1 {
    text-align: center;
    width: 100%;
}

header.library-header {
    gap: 20px;
    width: 100%;
    background-color: #d8dcff;
    border-color: #172a3a;
    border-width: 5px;
    margin-bottom: 20px;
}

.header-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.search-container {
    flex-basis: 50%;
    margin-left: 30%;
    margin-right: 70px;
    display: flex;
    align-items: center;
}

.search-btn {
    margin-left: 10px;
    background-color: #172a3a;
    border: none;
    border-radius: 5px;
    color: #d8dcff;
    cursor: pointer;
    padding: 3px 6px;
}

.search-btn:hover {
    background-color: #014b4f;
    text-decoration: underline;
    text-decoration-color: #d8dcff;
}

.search-input {
    background-color: #172a3a;
    border: 1px solid #004346;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #004346;
    color: #d8dcff;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    height: 30px;
}

.search-input::placeholder {
    color: #d8dcff;
}

input.search-input:focus {
    border-color: #09bc8a;
    color: #d8dcff;
    outline: none;
}

.new-folder-btn {
    padding: 3px 6px;
    font-size: 16px;
    background-color: #172a3a;
    border: none;
    border-radius: 5px;
    color: #d8dcff;
    cursor: pointer;
    margin: 5px;
    height: 30px;
}

.new-folder-btn:hover {
    background-color: #014b4f;
    text-decoration: underline;
    text-decoration-color: #d8dcff;
}

div.filter-dropdown {
    margin-left: 70px;
    margin-right: 30px;
}

.filter-select {
    padding: 5px;
    font-size: 16px;
    background-color: #172a3a;
    border: 1px solid #004346;
    border-radius: 5px;
    color: #d8dcff;
    margin: 5px;
}

.folders-and-stacks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.folder-action-button {
    background: none;
    border: none;
    cursor: pointer;
}

div.folder-template {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #172a3a;
    border: 9px solid #004346;
    border-radius: 30px;
    color: #d8dcff;
    margin: 15px auto;
    padding: 3px;
    width: 80%;
}

div.folder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    padding: 3px;
    width: 80%;
}

button.folder-edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #172a3a;
    border: none;
    height: 90px;
    width: 90px;
    padding: 0px 0px;
}

button.folder-edit-button img {
    max-width: 90%;
    max-height: 90%;
}

div.folder-image img {
    height: 80px;
    width: 80px;
}

span.folder-name {
    flex-grow: 1;
    font-family: Arial Rounded MT Bold, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
}

div.folder-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.new-folder-btn {
    white-space: nowrap; /* Prevents text from wrapping */
    min-width: max-content; /* Ensures button is as wide as its content */
    padding: 3px 6px;
    font-size: 16px;
    background-color: #172a3a;
    border: none;
    border-radius: 5px;
    color: #d8dcff;
    cursor: pointer;
    margin: 5px;
    height: 30px;
}

div.stack-template {
    background-color: #172a3a;
    border: 9px solid #004346;
    border-radius: 30px;
    color: #d8dcff;
    height: 100px;
    align-items: center;
    display: flex;
    margin: 15px auto;
    padding: 3px;
    width: 80%;
}

button.stack-view-button {
    background-color: #172a3a;
    border-radius:20px;
    height: 100%;
}
button.stack-view-button img{
    height: 100%;
}

div.stacks-container {
    width: 90%;
    margin-left: 8%;
}

span.stack-name {
    flex-grow: 1;
    font-family: Arial Rounded MT Bold,sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px
}
div.empty-folder-message {
    display: flex;
    flex-direction: column; /* Stack flex items vertically */
    justify-content: center; /* Align vertically */
    align-items: center; /* Align horizontally */
    height: 100%; /* Adjust as needed */
}

div.stack-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.stack-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #172a3a;
    border: none;
    height: 80px;
    width: 80px;
    padding: 0px 0px;
}

div.stack-content img {
    max-width: 90%;
    max-height: 90%;
}

.folder-name-edit {
    border: none; /* Removes the border */
    outline: none; /* Removes the outline that might appear on focus */
    background: transparent; /* Makes the background transparent */
    box-shadow: none; /* Removes any box shadows */
    padding: 0; /* Removes padding if any */
    margin: 0; /* Removes margin if any */
      flex-grow: 1;
      font-family: Arial Rounded MT Bold,sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #d8dcff;
  }
  
  .folder-name-edit:hover, .folder-name-edit:focus {
    /* Styles when the field is hovered over or focused to show it's editable */
  
    border: 1px dashed #d8dcff; /* Dashed border */
    padding: 10px 15px; /* Some padding */
  }

  .navbar {
    /* Ensure your navbar is positioned relatively so that absolute positioning within it is relative to the navbar */
    position: relative;
    /* Your existing styles... */
  }
  
  .search-container {
    /* Your existing styles... */
    position: relative; /* This is to position the dropdown absolutely within the search bar */
  }
  
  .search-dropdown {
    position: absolute;
    top: 110%; /* right below the search bar */
    left: 0; /* aligned with the left edge of the search bar */
    right: 0; /* ensures the dropdown extends to the edge of the search bar if needed */
    background: transparent;
    padding: 0px 80px 10px 0px;
    z-index: 1000;
    overflow-y: auto; /* for scrolling if there are many items */
  }
  
  .search-dropdown div {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #508991;
    background: #172a3a; /* for a clear distinction of items */
    transition: background-color 0.2s; /* smooth transition for hover effect */
  }
  
  .search-dropdown div:hover {
    background-color: #7bafb7;
  }
  
  /* If you have any additional padding or elements inside your search bar,
  you might want to adjust the width or starting position */
  .search-bar input[type="text"] {
    /* Adjust padding to match dropdown if needed */
    padding: 10px;
  }
  .search-dropdown div:first-child {
    border-top: 1px solid #172a3a; /* Removes the border from the last item */
  }
  
  .search-dropdown div:last-child {
    
    border-radius: 0px 0px 10px 10px;
  }