.library-header {
    display: flex;
    flex-direction: column; /* Makes sure the content is arranged vertically */
    align-items: center; /* Centers the items horizontally */
    gap: 20px; /* Adds space between the flex items */
}

.library-header > h1 {
    /* Style for the "Your Library" header */
}

.search-container, .new-folder-btn, .filter-dropdown {
    /* This will apply to all three elements */
    margin: 5px; /* Adds some margin around each element */
}

.search-input {
    padding: 5px;
    font-size: 16px; /* Adjusts the size of the input text */
    background-color: #172a3a;
    border: 1px solid #004346;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #004346;
    color: #d8dcff;
}

  .search-input::placeholder{
    color: #d8dcff;
  }
  

.new-folder-btn {
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 16px; /* Adjusts the button text size */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    background-color: #172a3a;
    border: none;
    border-radius: 5px;
    color: #d8dcff;
    cursor: pointer;
}

  
.new-folder-btn:hover {
background-color: #014b4f;
text-decoration: underline;
text-decoration-color: #d8dcff;
}

.filter-select {
    padding: 5px;
    font-size: 16px; /* Adjusts the dropdown text size */
}

/* Additional Flexbox setup to align search bar, button, and dropdown next to each other */
.header-controls {
    display: flex;
    flex-direction: row; /* Aligns children horizontally */
    align-items: center; /* Centers items vertically within the container */
    gap: 10px; /* Adds space between the items */
}
