    .view-stack-page {
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100%;
    
    }

    div.card-container, div.card-container.flipped {
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: center;
    }
  
    .stack-title {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
  }
  
  .card-container {
    perspective: 1000px;
    cursor: pointer;
    width: 300px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
  }
  
  .card-back,.card-front {
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #508991;
    border: 3px solid #172a3a;
    border-radius: 10px;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 15px;
    position: absolute;
    width: 60%;
}
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .flipped .card-front {
    transform: rotateY(-180deg);
  }
  
  .flipped .card-back {
    transform: rotateY(0deg);
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #172a3a;
    color: #d8dcff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
  }

  .play-section button:hover {
    background-color: #014b4f;
    text-decoration: underline;
    text-decoration-color: #d8dcff
  }

  .navigation-button button:hover {
    background-color: #014b4f;
    text-decoration: underline;
    text-decoration-color: #d8dcff
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  span.card-counter {
    color: #508991;
    font-size: 1.2em;
  }
  
  /* Add responsive design or specific animations as needed */
  