/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////Basic Elements Start///////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #d8dcff;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #50a3a2;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 1px solid #eaeaea;
}

h1,h2,h3 {
  color: #172a3a;
  cursor: pointer;
  font-family: Arial Rounded MT Bold,sans-serif;
  font-size: 35px;
  font-weight: 300;    
}

p {
  margin: 10px 0;
  color: #508991
}

/* Link styling */
a {
  color: #0000FF;
}

a:hover{
  text-decoration: underline;
}

/* Style for a button-like class */
.buttons {
  display: inline-block;
  background-color: #eaeaea;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttons:hover {
  background-color: #ddd;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////Basic Elements End/////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////LANDING PAGE START///////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.page-container-landing {
  display: flex;
  background-color: #d8dcff;
  flex-direction: column;
  min-height: 100vh; /* This will make sure your page takes up at least the full height of the viewport */
} 

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browse-section,.create-section,.library-section,.play-section {
  margin: 10px;
  padding: 20px;
  
}

.browse-section-text,.create-section-text,.library-section-text,.play-section-text {
  margin: 10px;
  color: #172a3a;
  cursor: pointer;
  font-family: Arial Rounded MT Bold,sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.browse-section-text,.create-section-text,.library-section-text {
 padding: 5px;
}

.get-started-section {
  /* Style for the get started section */
  margin: 10px;
  padding: 20px;
  color: #508991;
  /* Any additional styling */
}

.image-button {
  max-width: 100px; /* Or whatever size you prefer */
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.image-button:hover {
  opacity: 0.7;
}

.link-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link-column {
  flex-basis: calc(50% - 20px); /* Adjust width as needed, subtracting the margin */
  display: flex;
  justify-content: center;
  padding: 10px; /* Adjust padding as needed */
  margin: 10px;
}

.vertical-line {
  background-color: #172a3a;
  height: 425px;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 10px
}

.content-container-landing {
  flex: 1; /* This will allow the content container to expand and fill the available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px; 
}


.links-and-started {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  min-height: 500px; /* Example minimum height */
}

.link-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.get-started-section {
  max-width: 450px;
    margin-top:60px;
}
div.get-started-section p {
  margin-top: 30px;
  font-weight: 600;
  font-size: 17px;
}

/* Add a media query for responsive adjustments */
/* 
@media (max-width: 1024px) {
  .links-and-started {
      flex-direction: column;
  }

  .link-column {
      width: 100%;
  }
}
*/
/* Add any additional styles for alignment, margins, etc., as needed */

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////LANDING PAGE END/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
