/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////Basic Elements Start///////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Container for content */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Navigation bar */
.navbar {
  background-color: #333;
  color: #ffffff;
  padding: 10px 0;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.navbar a:hover {
  background-color: #ddd;
  color: #333;
}

/* Header styles */
header {
  background: #50a3a2;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 1px solid #eaeaea;
}

/* Headings */
h1, h2, h3 {
  padding: 10px 0;
}

/* Paragraphs */
p {
  margin: 10px 0;
}

/* Link styling */
a {
  color: #0000FF;
}

a:hover{
  text-decoration: underline;
}

/* Style for a button-like class */
.buttons {
  display: inline-block;
  background-color: #eaeaea;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttons:hover {
  background-color: #ddd;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////Basic Elements End/////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////LANDING PAGE START///////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.page-container-landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This will make sure your page takes up at least the full height of the viewport */
} 

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-section, .library-section, .browse-section, .play-section {
  /* Common style for each section */
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  /* You can add more like width, height, etc. */
}

.get-started-section {
  /* Style for the get started section */
  margin: 10px;
  padding: 20px;
  /* Any additional styling */
}

.image-button {
  max-width: 100px; /* Or whatever size you prefer */
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.image-button:hover {
  opacity: 0.7;
}

.link-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link-column {
  flex-basis: calc(50% - 20px); /* Adjust width as needed, subtracting the margin */
  display: flex;
  justify-content: center;
  padding: 10px; /* Adjust padding as needed */
  margin: 10px;
}

.vertical-line {
  background-color: #595757;
  height: 400px;
  margin: 0 20px;
  width: 10px
}

.content-container-landing {
  flex: 1; /* This will allow the content container to expand and fill the available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px; 
}


.links-and-started {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  min-height: 500px; /* Example minimum height */
}

.link-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add a media query for responsive adjustments */
@media (max-width: 1024px) {
  .links-and-started {
      flex-direction: column;
  }

  .link-column {
      width: 100%;
  }
}
/* Add any additional styles for alignment, margins, etc., as needed */

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////LANDING PAGE END/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////NAVBAR START////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Additional styling for the navigation bar */
.navbar {
  align-items: center;
  background-color: #595757;
  display: flex;
  height: 60px;
  padding: 0 20px;
}

.nav-buttons-container {
  display: flex;
  /* Adjust the gap to manage the space between the buttons */
  gap: 10px;
}

.navbar .nav-button {
  border-radius: 5px;
  color: #450c71;
  cursor: pointer;
  font-family: Arial Rounded MT Bold,sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
}

.navbar .nav-button:hover {
  background-color: initial;
  border: none;
  color: #450c71;
  text-decoration-color: #450c71;
}

.search-bar {
  display: flex;
  justify-content: space-between; /* This will space out the child elements */
  align-items: center;
  flex-grow: 1; /* This allows the search bar to take up the available space */
  padding: 0 20px; /* Adjust as needed for spacing on the sides */
}

.search-bar input[type=text] {
  background-color: #0d1117;
  border: 1px solid #450c71;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px #2d034d;
  color: #6d85a5;
  height: 30px;
  padding: 6px 10px;
  width: 100%;
  margin-left: 80px
}

.search-bar input[type=text]:focus {
  border-color: #61248f; 
  color: #fff;
  outline: none;
}

.search-bar button {
  background-color: #450c71;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 80px;
  padding: 3px 6px
}

.search-bar button:hover {
  background-color: #61248f;
  text-decoration: underline;
  text-decoration-color: #0d1117;
}

@media (max-width: 768px) {
  .navbar {
      flex-wrap: nowrap;
      overflow-x: auto;
  }

  .navbar .nav-button {
      font-size: 16px;
      padding: 8px 12px; /* Reduced padding for smaller screens */
  }

  .search-bar {
      margin-left: 10px; /* Adjust as needed */
  }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////NAVBAR END//////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////FOOTER START////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.landingFooter {
  background-color: #595757; /* footer background color */
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px; /* Adjust as needed */
  /*padding: 0 20px;*/
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section h3 {
  margin-bottom: 10px;
  color: #450c71; /* footer header colors */
}

.footer-section a {
  color: #fff; /*link colors */
  text-decoration: none;
  margin-bottom: 5px; /* Spacing between links */
}

.footer-section a:hover {
  text-decoration: underline; /* Hover effect */
}

.footer-section p {
  margin-top: 10px;
  color: #fff; /*copyrite color*/
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-section a,
  .footer-section p {
      text-align: center;
  }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////FOOTER END//////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/