/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////Basic Elements Start///////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #d8dcff;
  color: #333;
}

/* Container for content */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Navigation bar */
.navbar {
  background-color: #333;
  color: #d8dcff;
  padding: 10px 0;
}

.navbar a {
  color: #d8dcff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.navbar a:hover {
  background-color: #d8dcff;
  color: #333;
}

/* Header styles */
header {
  background: #50a3a2;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 1px solid #eaeaea;
}

/* Headings */
h1, h2, h3 {
  padding: 10px 0;
  color: #172a3a;

}

/* Paragraphs */
p {
  margin: 10px 0;
  color: #508991
}

/* Link styling */
a {
  color: #0000FF;
}

a:hover{
  text-decoration: underline;
}

/* Style for a button-like class */
.buttons {
  display: inline-block;
  background-color: #eaeaea;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttons:hover {
  background-color: #ddd;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////Basic Elements End/////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////LANDING PAGE START///////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.page-container-landing {
  display: flex;
  background-color: #d8dcff;
  flex-direction: column;
  min-height: 100vh; /* This will make sure your page takes up at least the full height of the viewport */
} 

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-section, .library-section, .browse-section, .play-section {
  /* Common style for each section */
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  /* You can add more like width, height, etc. */
}

.get-started-section {
  /* Style for the get started section */
  margin: 10px;
  padding: 20px;
  color: #508991;
  /* Any additional styling */
}

.image-button {
  max-width: 100px; /* Or whatever size you prefer */
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.image-button:hover {
  opacity: 0.7;
}

.link-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link-column {
  flex-basis: calc(50% - 20px); /* Adjust width as needed, subtracting the margin */
  display: flex;
  justify-content: center;
  padding: 10px; /* Adjust padding as needed */
  margin: 10px;
}

.vertical-line {
  background-color: #172a3a;
  height: 400px;
  margin: 0 20px;
  width: 10px
}

.content-container-landing {
  flex: 1; /* This will allow the content container to expand and fill the available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px; 
}


.links-and-started {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  min-height: 500px; /* Example minimum height */
}

.link-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add a media query for responsive adjustments */
/* 
@media (max-width: 1024px) {
  .links-and-started {
      flex-direction: column;
  }

  .link-column {
      width: 100%;
  }
}
*/
/* Add any additional styles for alignment, margins, etc., as needed */

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////LANDING PAGE END/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
